.header_icon_span{
    margin-left: 5px;
}
td {
    border-left: 0.5px ridge #767676;    
    padding: 0 10px;
}
span{
    font-size: 11px;
}
.icon_font{
    font-size: 11px;
}
.admin{
    text-align: center;
}
.center{
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0px 1px 15px 1px rgb(69 65 78 / 8%);
    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    box-shadow: 0px 1px 15px 1px rgb(69 65 78 / 8%);
    background-color: #ffffff;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
}

.m_content {
    padding: 15px 30px;
}
.m_portlet {
    -webkit-box-shadow: 0px 1px 15px 1px rgb(69 65 78 / 8%);
    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    box-shadow: 0px 1px 15px 1px rgb(69 65 78 / 8%);
    background-color: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
.m_portlet .m_portlet_head {
    border-bottom: 1px solid #ebedf2;
}
.m_portlet .m_portlet_body {
    color: #575962;
}
.m_portlet .m_portlet_body {
    padding: 2.2rem;
    padding-top: 15px;
}
.m_portlet .m_portlet_head {
    border-bottom: 1px solid #ebedf2;
}
.m_portlet .m_portlet_head {
    display: table;
    padding: 0;
    width: 100%;
    padding: 0 2.2rem;
    height: 5.1rem;
}
.m_portlet .m_portlet_head .m_portlet_head_caption {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.m_portlet .m_portlet_head .m_portlet_head_caption .m_portlet_head_title {
    display: table;
    table-layout: fixed;
    height: 100%;
}
.m_portlet .m_portlet_head .m_portlet_head_caption .m_portlet_head_title .m_portlet_head_text {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: Tahoma;
}
.m_portlet .m_portlet_head .m_portlet_head_text {
    color: #575962;
}
.m_portlet .m_portlet__body {
    color: #575962;
}

.m_portlet .m_portlet__body {
    padding: 2.2rem;
    padding-top: 15px;
}
